body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(249, 238, 232);
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(141, 62, 40, 0.926);
    padding: 10px 20px;
}

#logo {
    width: 8.2vw;
}

.top_menu {
    display: flex;
    gap: 80px;
    align-items: center;
}

.top_text {
    color: rgb(249, 238, 232);
    font-size: 1.4em;
    transition: transform 0.2s, border-radius 0.2s;
}

.top_text:hover {
    transform: scale(1.05); 
    border-radius: 10px;
}



/* Media Query for Desktop View - Hide Navigation Menu */
@media (min-width: 768px) {
    .side_menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .top_menu, .logo {
        display: none; 
    }

    .mobile-menu-icon {
        display: block;
        cursor: pointer;
        padding: 10px;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #f9eee8;
        margin: 5px 0;
    }

    .side_menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: rgba(141, 62, 40, 0.926);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }

    .side_menu a.side_text {
        text-decoration: none; 
        color: #f9eee8; 
    }

    .side_menu a.side_text:not(:first-child) {
        border-top: 1px solid #f9eee8; 
        padding-top: 10px; 
    }

    .side-menu-open {
        left: 0; 
        z-index: 1000;
    }
    
    .side-menu-open .mobile-menu-icon {
        display: none;
    }

    .side-menu-open .close-button {
        color: #f9eee8;
        font-size: 1.5em;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }
}



.bottom {
    background-color: rgba(141, 62, 40, 0.926);
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    width: 2vw;
    height: 4vh;
}

.icon:hover {
    transform: scale(1.2); 
    background-color: #f9eee8;
    border-radius: 10px;
}

.site-info {
    text-align: center;
    color: #f9eee8;
}
