body, html {
  margin: 0;
  padding: 0;
}
  
body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  margin-bottom: 5px;
}

.day-schedule {
  display: none;
  padding: 10px;
  border: 1px solid #76716b;
  background-color:  #f0ece1;
  /* border-radius: 9px; */
  margin-top: 5px;
}


.day-button {
  background-color:  #dcd8cf;
  display: block;
  width: 9vw;
}
