body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9eee8;
    font-family: 'Varela Round', sans-serif;
}

a {
    text-decoration: none;
}

#Welcome-message {
    text-shadow: 1px 1px 2px #00000080;
}

#edd {
    font-size: 5.2em;
    color: #f9eee8;
    text-shadow: 1px 1px 2px #00000080;
}

#site-description {
    font-size: 1.6em;
    color: #f9eee8;
    text-shadow: 1px 1px 10px #00000080;
}

#start-bt {
    background-color: #f9eee8;
    color: #c1847f;
    border-radius: 20px;
    color: #c1847f;
    border: none;
    width: 300px;
}
    
#start-bt:hover {
    transform: scale(1.001);
    color: #f9eee8;
    background-color: #5d5d5dc9;
    box-shadow: 0 0 10px #00000080;
    border: 1px solid black;

} 

#select-country {
    font-size: 2.6em;
    text-align: center;
    color: rgba(141, 62, 40, 0.926);   
    box-shadow: 0 0 10px #00000080;
}

.pics {
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: center; 
}

.pic {
    width: 30vw;
    height: 40vh;
    border-radius: 25px;
    box-shadow: 0 12px 12px -10px #00000080;
    transition: transform 0.3s; 
}

.pic:hover {
    transform: scale(1.05); 
}

.country-name {
    display: flex;
    justify-content: center; 
    color: #c1847f;
    font-size: 2.4em;
    margin: 0 auto; 
}

.country-name h2 {
    margin: 0; 
    padding: 0 20px; 
}

.country-name #dubai-name {
    padding-right: 200px; 
}

.country-name #venice-name {
    padding-left: 250px; 
}

@media (min-width: 768px) {
    .name-phone-only{
        display: none;
    }
}

@media (max-width: 767px) {
    #edd {font-size: 1.5em;}
    
    #site-description {font-size: 1.6em;}

    #Welcome-message { font-size: 1.1em; }

    #site-description { margin-top: 0px; font-size: 1.01em; margin-bottom: 0px;}

    #start-bt { width: auto; border-radius: 10px; margin-top: 5px;}

    #start-bt h1{ font-size: 1.1em; }

    #select-country{ font-size: 1.9em; }

    .pics {
        display: flex;
        flex-direction: column;
        gap: 45px;
        align-items: center;
    }

    .pic {
        width: 380px;
        height: 250px;
        border-radius: 25px;
        box-shadow: 0 12px 12px -10px #00000080;
        transition: transform 0.3s; 
    }

    .country-name #dubai-name { padding-right: 50px; }
    
    .country-name #venice-name { padding-left: 80px; }

    .country-name{ display: none; }

    .name-phone-only {
        color: #c1847f;
        padding: 0 auto;
        margin: 0;

        text-align: center;
        font-size: 2.5em;
    }
}
