.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 60px 60px -40px rgba(0,0,0,0.5);
}

.video-background {
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
    overflow: hidden; 
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 1;
}

.video-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%; 
}

.video-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .video-container {
        margin: 0 auto;
        position: relative;
        width: 389;
        height: 200px; 
    }

    .content {
        margin-left: 5%;
        width: auto;
        height: auto;
    }
}
