body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9EEE8;
  font-family: 'Varela Round', sans-serif;
  background-image: url('/Dubai/dubai pics/dubai-4k-opacity.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0.5, 0.5); 
}

#wellcome-text {
  color: rgb(123, 93, 93);
  font-size: 42px;
  text-shadow: rgb(245, 236, 204) 1px 0 10px;
}

.info-box {
  background-color: rgba(245, 245, 220, 0.73); 
  border-radius: 15px; 
  padding: 20px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
  text-align: center; 
  max-width: 750px; 
  height: 150px;
  margin: 0 auto;
}

.info-box p {
  font-size: larger;
  color: rgb(123, 93, 93);
}

.guide-text {
  color: rgb(123, 93, 93);
  text-shadow: #ff5900 1px 0 1px;
}

h1, h4 {
  margin: 20px 0;
}

.st {
  color: #000;
  
}

.wellcome-text {
  font-size: 50px;
}

.container {
  position: relative;
  border-radius: 10px;
  width: 850px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.mySlides {
  display: none;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-top: -30px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s ease;
  border-radius: 50%;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 1.5;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
}

.numbertext {
  color: #fff;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.caption-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: #fff;
  text-align: center;
  transition: 0.3s ease;
  opacity: 0;
}

.container:hover .caption-container {
  opacity: 1;
}

.caption-container p {
  margin: 0;
}

.image-gallery {
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 0 0 25%;
  padding: 5px;
}

.demo {
  opacity: 0.6;
  transition: 0.3s ease;
  cursor: pointer;
}

.demo:hover {
  opacity: 1;
}

iframe {
  border-radius: 15px; 
}

#Navigate-bt {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  border-radius: 1.3em;
  width: fit-content;
  margin: auto;
  padding: 0.2%; 
  color: rgb(158, 108, 104);
  background-color: transparent;
  border: none;
  text-shadow: 1px 1px 2px rgb(255, 119, 119), 0 0 1em #F9EEE8, 0 0 0.2em #F9EEE8;
}

#Navigate-bt :hover{
  transform: scale(1.005); 
  text-decoration: underline;
}

#groupe-route {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  border: 1px solid rgba(0, 0, 0, 0.5); 
}

#g-r-text {
  color: rgb(158, 108, 104);
  text-shadow: 1px 1px 2px #F9EEE8, 0 0 1em #F9EEE8, 0 0 0.2em #F9EEE8;
}


/* Mobile Devices */
@media (max-width: 767px) {
  .info-box {
    max-width: 80%;
    font-size: 14px;
  }

  .wellcome-text {
    font-size: 40px;
  }

  .container {
    width: 90%;
  }

  .prev,
  .next {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .numbertext {
    font-size: 10px;
  }

  .caption-container {
    padding: 5px;
  }

  .demo {
    font-size: 14px;
  }

  iframe {
    width: 90%;
    height: 300px;
  }

  .guide-text {
    font-size: 24px;
    text-shadow: #F9EEE8 1px 0 10px;
  }


}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 70%;
  }

  iframe {
    width: 70%;
    height: 400px;
  }
}
